{% extends "learning_logs/base.html" %}

{% block header %}
  <div class="jumbotron">
      <h2>Your learning Progress can be tracked here</h2>
  </div>
{% endblock header%}


{% block content %}
<h3>
   <a href="{% url 'users:register' %}"> <i> Register an Account </i> </a>
    to make your own learning log, and list the topics you are learning about
</h3>
<h3>
    click on topics to get started <br/><br/>
    We hope you will the delight with your learning path.<br/>
    Happy learning
</h3>
{% endblock content %}